* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	border: none;
	border-radius: 8px;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
}

.shopping-btn {
	width: 156px;
	height: 48px;
	background: var(--main-green);
	color: #ffffff;
}

/* Color variables */
.green {
	color: var(--main-green);
}

.grey {
	color: var(--main-grey);
}
